<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19293767978-vglal35l41keb2fkhdh5615lfrue96nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19293767978-vglal35l41keb2fkhdh5615lfrue96nj</string>
	<key>API_KEY</key>
	<string>AIzaSyAZeN5nyKcbAHWRdZICKv5B8M38lJQ6H3k</string>
	<key>GCM_SENDER_ID</key>
	<string>19293767978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luizgoncalves.ignitelabrockethelp</string>
	<key>PROJECT_ID</key>
	<string>ignite-lab-rocket-help</string>
	<key>STORAGE_BUCKET</key>
	<string>ignite-lab-rocket-help.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19293767978:ios:cc8f424f14989371a93653</string>
</dict>
</plist>